@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';

.container1{
    height: 656px;
    width: 100%;
    background-color: $home-bg;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    .logo {
        padding: 140px 0 30px 0; 
        text-align: center;
        z-index: 1;
    }
    .elipse{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .title{
        padding: 100px 0 50px 0;
        font-size: 48px;
        line-height: 60px;
        color: white;
        z-index: 1;
        font-family: $font-inter300;
    }
}
.footer {
    height: 144px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    
    .container2{
        height: 82px;
        width: 829px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 37px;
        align-items: center;
    }
    .paqueterias{
        background-color: #F6F6FB;
        padding: 0 19px;
        color: black;
        position: absolute;
        top: 22px;
        font-size: 18px;
        line-height: 24px;
        font-family: $font-inter400;
        letter-spacing: 2px;
    }

}