@import '../../Styles/Colors.scss';
@import '../../Styles/Fonts.scss';

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 135px;
    left: 70px; 
    border-radius: 6px;
    box-shadow: 0px 3px 5px -1px rgba(152, 167, 204, 0.2), 0px 6px 10px rgba(152, 167, 204, 0.14), 0px 1px 18px rgba(152, 167, 204, 0.12);
    .title {
        font-family: $font-inter600;
        font-size: 24px;
        line-height: 135%;
        padding: 24px 24px 0 24px;
        color: $texto-primary;
    }
    .sub {
        padding: 12px 24px 24px 24px;
        color: $texto-primary;
        font-family: $font-inter500;
        font-size: 24px;
        line-height: 135%;
    }
    .remitente{
        padding: 0px 24px;
        gap: 24px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: visible;
    }
}
.buttonContainer{
    position: absolute;
    bottom: 37px;
    right: 135px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}