@import '../../Styles/Colors.scss';
@import '../../Styles/Fonts.scss';

.container {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: $flow-bg;

    .title{
        position: absolute;
        top: 210px;
        width: 100vw;
        text-align: center;
        font-size: 40px;
        line-height: 48px;
        font-family: $font-inter500;
        color: $texto-primary;
    }

    .cardContainer{
        position: absolute;
        top: 295px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
        overflow: visible;
    }

    .subContainer{
        position: absolute;
        bottom: 150px;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 11px;
        
        .subtitle{
            font-family: $font-inter400;
            font-size: 20px;
            line-height: 32px;
            color: $texto-primary;
        }
    }
    
    .buttonContainer{
        position: absolute;
        right: 135px;
        bottom: 37px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }
    
    .cardContainerShipping{
        position: absolute;
        padding: 0 90px;
        top: 295px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        overflow: visible;
    }
    .titleConfirm{
        position: absolute;
        top: 84px;
        left: 40px;
        text-align: left;
        font-size: 40px;
        line-height: 48px;
        font-family: $font-inter500;
        color: $texto-primary;
    }

    .subtitleConfirm{
        position: absolute;
        top: 145px;
        left: 40px;
        text-align: left;
        font-size: 20px;
        line-height: 32px;
        font-family: $font-inter500;
        color: $texto-primary;
    }

    .confirmDataContainer{
        position: absolute;
        left: 40px;
        top: 200px;
        display: flex;
        flex-direction: row;
        overflow: visible;
        gap: 10px;
    }
    .categoriesContainer{
        position: absolute;
        left: 70px;
        top: 208px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        overflow: visible;

        .titleCategory{
            width: 100%;
            text-align: left;
            font-family: $font-inter500;
            color: $texto-primary;
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 20px;
        }
        .subtitleCategory{
            width: 100%;
            text-align: left;
            font-family: $font-inter400;
            color: $texto-primary;
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 20px;
        }
        .selectContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
    }
}