@import "../../Styles/Colors.scss";
@import "../../Styles/Fonts.scss";

.cardWeight {
    background-color: white;
    width: 290px;
    height: 219px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 6px -3px rgba(152, 167, 204, 0.2), 0px 10px 14px 1px rgba(152, 167, 204, 0.14),
        0px 4px 18px 3px rgba(152, 167, 204, 0.12);
    border-radius: 6px;
    cursor: pointer;

    .cardTitle {
        position: relative;
        padding: 10px 0px 20px 0px;
        text-align: center;
        font-family: $font-inter600;
        font-size: 34px;
        line-height: 42px;
        color: $texto-primary;
    }
    .cardSubtitle {
        text-align: center;
        font-family: $font-inter500;
        font-size: 18px;
        line-height: 32px;
        color: $text-secondary;
    }
}

.cardService {
    background-color: white;
    width: 358px;
    height: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 6px -3px rgba(152, 167, 204, 0.2), 0px 10px 14px 1px rgba(152, 167, 204, 0.14),
        0px 4px 18px 3px rgba(152, 167, 204, 0.12);
    border-radius: 6px;
    cursor: pointer;

    img {
        width: 50%;
        margin-top: 17px;
    }
    .titleService {
        padding-top: 24px;
        font-family: $font-inter600;
        font-size: 34px;
        line-height: 43px;
        text-align: center;
        color: $home-bg;
    }
    .subService1 {
        padding-top: 12px;
        font-family: $font-inter400;
        font-size: 20px;
        line-height: 160%;
        text-align: center;
        color: $texto-primary;
    }
    .subService2 {
        font-family: $font-inter400;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        color: $texto-primary;
        padding-bottom: 10px;
    }
}

.cardShipping {
    background-color: white;
    width: 225px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 6px -3px rgba(152, 167, 204, 0.2), 0px 10px 14px 1px rgba(152, 167, 204, 0.14),
        0px 4px 18px 3px rgba(152, 167, 204, 0.12);
    border-radius: 6px;
    cursor: pointer;

    img {
        transform: scale(0.25);
    }
}

.deliveryMode {
    background-color: white;
    width: 511px;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0px 6px 6px -3px rgba(152, 167, 204, 0.2), 0px 10px 14px 1px rgba(152, 167, 204, 0.14),
        0px 4px 18px 3px rgba(152, 167, 204, 0.12);
    border-radius: 6px;
    cursor: pointer;

    img {
        // transform: scale(0.25);
        height: 120px;
    }
    .title {
        font-family: $font-inter500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.25px;
        color: $texto-primary;
    }
    .sub {
        font-family: $font-inter500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.25px;
        color: $texto-primary;
    }
    .text {
        font-family: $font-inter400;
        font-size: 16px;
        line-height: 24px;
        color: $text-secondary;
        text-align: center;
        padding: 0 30px;
    }
}

.senderReceiver {
    background-color: white;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 6px -3px rgba(152, 167, 204, 0.2), 0px 10px 14px 1px rgba(152, 167, 204, 0.14),
        0px 4px 18px 3px rgba(152, 167, 204, 0.12);
    border-radius: 6px;

    .titulo {
        font-family: $font-inter500;
        font-size: 24px;
        line-height: 38px;
        color: $texto-primary;
        padding-left: 24px;
        // padding-top: 24px;
        padding-bottom: 8px;
        .edit{
            color: #2196F3;
            font-family: $font-inter500;
            font-size: 18px;
            line-height: 29px;
            cursor: pointer;
        }
    }
    .senderContainer {
        padding: 0px 24px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .content {
            width: 48%;
            .title {
                font-family: $font-inter500;
                font-size: 18px;
                line-height: 30px;
                color: $texto-primary;
                padding-bottom: 8px;
            }
            .text {
                font-family: $font-inter300;
                font-size: 18px;
                line-height: 30px;
                color: $texto-primary;
                word-wrap: break-word;
            }
        }
    }
    .packageContent {
        padding-left: 24px;
        .title {
            font-family: $font-inter500;
            font-size: 18px;
            line-height: 30px;
            color: $texto-primary;
            padding-bottom: 8px;
            text-align: left;
            .edit{
                color: #2196F3;
                font-family: $font-inter500;
                font-size: 16px;
                line-height: 29px;
                cursor: pointer;
            }
        }
        .text {
            font-family: $font-inter300;
            font-size: 18px;
            line-height: 30px;
            color: $texto-primary;
            text-align: left;
        }
    }
}

.shippingContainer {
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 6px 6px -3px rgba(152, 167, 204, 0.2), 0px 10px 14px 1px rgba(152, 167, 204, 0.14),
        0px 4px 18px 3px rgba(152, 167, 204, 0.12);
    border-radius: 6px;
    cursor: pointer;

    .titleShipping {
        font-family: $font-inter500;
        font-size: 18px;
        line-height: 30px;
        color: $texto-primary;
        padding-bottom: 8px;
        text-align: left;
        padding-left: 24px;
    }
    .textShipping {
        font-family: $font-inter300;
        font-size: 18px;
        line-height: 30px;
        color: $texto-primary;
        text-align: left;
        padding-left: 24px;
    }
    .line {
        border-top: 2px solid rgba(35, 51, 98, 0.23);
        margin-left: 24px;
        width: 90%;
    }
    .costContainer{
        padding: 18px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .left {
            font-family: $font-inter300;
            font-size: 18px;
            line-height: 26px;
            color: $text-secondary
        }
        .right{
            font-family: $font-inter300;
            font-size: 20px;
            line-height: 28px;
            color: $texto-primary;
        }
        .leftPower{
            font-family: $font-inter500;
            font-size: 24px;
            line-height: 32px;
            color: $texto-primary
        }
        .leftMinusPower{
            font-family: $font-inter300;
            font-size: 16px;
            line-height: 24px;
            color: $texto-primary
        }
        .rightPower{
            font-family: $font-inter500;
            font-size: 24px;
            line-height: 32px;
            color: $home-bg;
        }
    }
}
