$home-bg: #5233EA;
$flow-bg: #E5E5E5;
$font-paqueterias: #F6F6FB;
$elipse-cp: rgba(11, 0, 90, 0.08);
$texto-primary: #000C2E;
$button-disabled: #C6CAD7;
$text-disabled: #4F5C81;
$text-secondary: #58668F;
$error-input: #F44336;
$info-main: #2196F3