@import '../../Styles/Colors.scss';
@import '../../Styles/Fonts.scss';

.helpContainer{
    position: absolute;
    bottom: 42px;
    left: 36px;
    background-color: $info-main;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    height: 56px;
    box-shadow: 0px 3px 5px -1px rgba(152, 167, 204, 0.2), 0px 6px 10px rgba(152, 167, 204, 0.14), 0px 1px 18px rgba(152, 167, 204, 0.12);
    border-radius: 50px;
    cursor: pointer;

    .helpIcon{
        width: 20px;
    }
    .helpText{
        font-family: $font-inter500;
        color: white;
        font-size: 24px;
        line-height: 32px;
    }
}