@import '../../Styles/Colors.scss';
@import '../../Styles/Fonts.scss';


.parentContainer {
    width: 100vw;
    height: 100vh;
    background-color: $flow-bg;
    position: absolute;
    top: 0;
    left: 0;

    .appHeader {
        width: 100%;
        height: 60px;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .headerImg{
            width: 170px;
            margin-left: 42px;
        }
        .dateContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            height: 27px;
            margin-right: 40px;

            .hour{
                font-family: $font-inter300;
                font-size: 18px;
                line-height: 27px;
                color: $texto-primary
            }
            .line{
                height: 24px;
                border-left: 1px solid rgba(0, 0, 0, 0.23);
            }
            .fullDate{
                font-family: $font-inter600;
                font-size: 18px;
                line-height: 27px;
                color: $texto-primary
            }
        }
    }
}